<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Username</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 50%;
            margin: auto;
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Enter Your Username</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                <label for="username">Username:</label>
                {{ form.username(size=32) }}
                {% if form.username.errors %}
                    <ul>
                        {% for error in form.username.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
</body>
</html>
